@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bday.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.column-1{
    width: 49vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column-2{
    width: 49vw;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

.container{
    perspective: 1000px;
}
.card{
    width: 280px;
    height: 360px;
    position: absolute;
    top: 100px;
    left: 230px;
    transition:2s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.block{
    position: absolute;
    top: 200px;
    right: 600px;
    perspective: 800px;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align:center;
    padding: 1.5rem;
}
.outside{
    background-color: rgb(164, 71, 203);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility:hidden;
}
.outside h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #3b0247;
    margin-bottom: 30px;
}
.outside h2{
    font-size: 1rem;
    font-weight: bold;
    color: hsl(31, 94%, 13%);
    margin-bottom: 30px;
}

.inside{
    background-color: #8a5cb3;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility:hidden;
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.frames{
    
    position: relative;
    max-width: 100px;
    height: 100px;
    bottom: 100px;
    left: 400px;
    background: #fff;
    margin: 30px 10px;
    padding:25px 15px;
    display:flex;
    flex-direction: row-reverse; 
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.frames:hover{
    height: 200px;
    width: 500px;
}
.frames imgBx{
    position: relative;
    height: 450px;
    width: 800px;
    top: 0.5px;
    left: 10px;
    z-index: 17;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.frames .imgBx img{
    max-width: 300%;
    border-radius: 80%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    scroll-margin-bottom:10px;
    padding: 30px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;

    opacity: 0;
    transition: 0.3s ease-in-out;
}
.block:hover{
    visibility: visible;
    opacity: 1;
    scroll-margin-left: -40px;
    transition-delay: 0.3s;
}
.expand-container{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    background-color: aliceblue;
    padding: 20px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}
.expand-container img{
    width: 150px;
}
.expand-container .expand-text{
    height: 150px;
    margin-left:40px ;

}
.expand-container:hover{
    width: 500px;
    color: black;

}